body{
    overflow-x: hidden;
}

/* header */
.header .navbar {
    background: linear-gradient(196.87deg, #146575 0%, #2FA47F 61.61%);
}
.header .navbar .icon{
    color: white;
    font-size: 24px;
}
.header .navbar .title{
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.header .navbar .desc{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.header .navbar .active{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}
.header .navbar li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}
.header .navbar a{
    color: white !important;
}

/* jumbotron */
.jumbotron{
    background-color: white !important;
}
.jumbotron .desc{
    padding: 0 60px !important;
}
.jumbotron .btn-success{
    margin-top: -20px;
    padding: 10px 84px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #2FA47F;
    border-radius: 4px;
    margin-bottom: 24px;
}
.jumbotron h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 60px;
    text-transform: uppercase;
    color: #333333;
    margin-top: 16px;
}
.jumbotron h2 span{
    font-weight: 600;
}
.jumbotron .date{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: black;
}
.jumbotron .user{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: black;
}

/* fetail-page */
.detail-page p{
    text-indent: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    text-indent: 50px;
    color: #000000;
    }


/* footer */
.footer{
    padding-top: 80px;
}
.footer .footer-icon .title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 43px;
    color: #00501D;
    margin-top: 100px;
}
.footer .footer-icon .desc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    color: #333333;
}
.footer .contact h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #2FA47F;
    margin-bottom: 16px;
}
.footer .contact p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: #333333;
}
.footer .support h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #2FA47F;
    margin-bottom: 16px;
}
.footer .copyright{
    text-align: center;
    background: linear-gradient(182.76deg, #146575 0%, #2FA47F 45.63%);
    padding: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer .copyright a{
    color: yellow;
}

@media (min-width:  576px){
    
}
